@media screen and (max-width:800px){

    :root{
        --body-pl: 5px;
        --txt-color-primary: rgba(8,41,124,1);
        --txt-primary-fontsize: 11px;
    }

    .saboLog{
        width: 45px;
        height: 15px;
    }

    .saboLogAnim{
        width: 40px;
        height: 40px;
        margin-bottom: 14px;
    }

    .container{
        display: none;
    }

    .signUpCont{
        display: none;
    }

    .signUpCont{
        position: absolute;
        z-index: 1;
        background-color:white ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 25px;
        font-family: 'monteserrat';
        margin-left: 20%;
        margin-right: 25%;
        top: 50px;
    }

    .signInCont{
        display: none;
    }

    .signInCont{
        position: absolute;
        z-index: 1;
        background-color:white ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 25px;
        font-family: 'monteserrat';
        margin-left: 20%;
        margin-right: 25%;
        top:50px;
    }

    #signInCont1{
        display: none;
    }

    #signUpCont1{
        display: none;
    }

    .L{
        margin-right: 7px;
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        line-height: 19.5px;
        border: 1px solid white;
        padding: 5px;
        border-radius: 5px;
    }

    .ep{
        width: 200px;
        height: 27px;
        font-size: 11px;
        border-radius: 8px;
        border-color: #08297C;
        box-shadow: 0px 1px rgba(0,0,0.2);
    }

    .FirstName, .LastName{
        margin-top: 13px;
    }

    .emailOrPhone input, .password input, .cpassword input, .phonenumber input{
        margin-top: -5px;
    }

    .instruct{
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }

    .terms{
        color: #08297C;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }

    .signupFinalButton{
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
        margin-top: 10px;
    }

    .signInFinalButton{
        width: 205px;
        height: 40px;
        border-radius: 5px;
        border: 0.1px solid #08297C;
        background-color: #08297C;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
        text-decoration-line: none;
        margin-top: 20px;
    }

    .orWith{
        width: 200px;
        margin-top: 12px;
    }
    
.demarcation1{
    display: none;
}

.demarcation2{
    font-size: 11px;
}

.demarcation3{
    display: none;
}

.googleOrFacebook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 20px;
    margin-top: 10px;
}

.google{
    width: 100%;
    border: 1px solid #000000;
    padding: 0px 10px;
    width: 55px;
    height: 35px;
    border-radius: 5px;
}

.google:hover, .facebook:hover{
    cursor: pointer;
}

.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 37px;
    background-color: rgba(8,41,124,0.72);
    border-radius: 5px;
}

.flogo{
    margin-left: 0px;
    display: none;
}

.googleText{
    display: none;
}

.alreadyHaveAnAccount{
    width: 200px;
    margin-top: 6px;
}

.already{
    font-size: 10px;
}

.log{
    font-size: 10px;
}

    .mobileContainer{
        display: block;
    }

    .navbarM{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 4px 0px 4px;
    }

    .navbarlinkM1{
        display: flex;
        align-items: center;
    }

    .navbarlinkM2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5px;
        flex-direction: row;
    }

    .navbarlinkM1 a{
        text-decoration-line: none;
        color: var(--txt-color-primary);
        padding-left: 4px;
        font-size: 10px;
    }

    .navbarlinkM1 img{
        padding-left: 2.5px;
    }

    .navbarlinkM1 a:hover{
        cursor: pointer;
        transition: 400ms;
        color: black;
    }

    .navbarlinkM2 a{
        text-decoration-line: none;
        color: var(--txt-color-primary);
    }

    .signinM:hover{
        color: black;
        transition: 400ms;
    }

    .signinM{
        font-size: 11px;
    }

    .signupM{
        color: white!important;
        background-color: var(--txt-color-primary);
        padding: 4px;
        margin-left: 0px;
        border-radius: 3px;
        border: 0.5px solid var(--txt-color-primary) ;
        font-size: 10px;
    }

    .signupM:hover{
        color: var(--txt-color-primary)!important;
        background-color: white!important;
        cursor: pointer;
        transition: 500ms;
    }

    .navIcons{
        margin-left: 20px;
    }

    .navIcons img{
        margin-left:7px;
    }

    .srchIcon{
        width: 15%;
    }

    #search-bar2{
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .hidden2{
        display: none;
    }

    .searchBarAndIcon2{
        border: 1.5px solid var(--txt-color-primary);
        width: 170px;
        border-radius: 3px;
        height: 20px;
        background-color: white; 
        padding:4px 8px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .searchBar2{
        border-width: 0px;
        border-color: none;
        padding: 4px;
        border-radius: 3px;
        height: 10px;
        width: 149px;
        background-color: white;
    }

    .lens2{
        color: var(--txt-color-primary);
    }

    input:focus{
        outline: none;
    }

    .connectM{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ht{
        color: var(--txt-color-primary);
        font-weight: 500;
        font-size: var(--txt-color-primary);
        animation-name: textFade;
        animation-duration: 5s;
        animation-iteration-count:1;
        animation-direction: alternate;
        animation-timing-function: linear;
    }

    .exM{
        text-align: center;
        margin-top: -13px;
        animation-name: textFade;
        animation-duration: 5s;
        animation-iteration-count: 1;
    }

    .exM h2{
        color: var(--txt-color-primary);
        font-weight: 600;
        animation-name: textFade;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-timing-function: linear;
    }

    .exM p{
       color: var(--txt-color-primary); 
       font-size: 15px;
       margin-top: -13px;
       font-weight: 600;
       animation-name: textFade;
       animation-duration: 5s;
       animation-iteration-count: 1;
       animation-direction: alternate;
       animation-timing-function: linear;
    }

    @keyframes textFade {
        0% { color: rgba(255, 255, 255, 1); }
        1% { color: rgba(255, 255, 255, 0.99); }
        2% { color: rgba(253, 253, 253, 0.98); }
        3% { color: rgba(251, 251, 251, 0.97); }
        4% { color: rgba(249, 249, 249, 0.96); }
        5% { color: rgba(247, 247, 247, 0.95); }
        6% { color: rgba(245, 245, 245, 0.94); }
        7% { color: rgba(243, 243, 243, 0.93); }
        8% { color: rgba(241, 241, 241, 0.92); }
        9% { color: rgba(239, 239, 239, 0.91); }
        10% { color: rgba(237, 237, 237, 0.90); }
        11% { color: rgba(235, 235, 235, 0.89); }
        12% { color: rgba(233, 233, 233, 0.88); }
        13% { color: rgba(231, 231, 231, 0.87); }
        14% { color: rgba(229, 229, 229, 0.86); }
        15% { color: rgba(227, 227, 227, 0.85); }
        16% { color: rgba(225, 225, 225, 0.84); }
        17% { color: rgba(223, 223, 223, 0.83); }
        18% { color: rgba(221, 221, 221, 0.82); }
        19% { color: rgba(219, 219, 219, 0.81); }
        20% { color: rgba(217, 217, 217, 0.80); }
        21% { color: rgba(215, 215, 220, 0.79); }
        22% { color: rgba(213, 213, 225, 0.78); }
        23% { color: rgba(211, 211, 230, 0.77); }
        24% { color: rgba(209, 209, 235, 0.76); }
        25% { color: rgba(207, 207, 240, 0.75); }
        26% { color: rgba(205, 205, 245, 0.74); }
        27% { color: rgba(203, 203, 250, 0.73); }
        28% { color: rgba(190, 200, 248, 0.72); }
        29% { color: rgba(180, 195, 246, 0.72); }
        30% { color: rgba(170, 190, 244, 0.72); }
        31% { color: rgba(160, 185, 242, 0.72); }
        32% { color: rgba(150, 180, 240, 0.72); }
        33% { color: rgba(140, 175, 238, 0.72); }
        34% { color: rgba(130, 170, 236, 0.72); }
        35% { color: rgba(120, 165, 234, 0.72); }
        36% { color: rgba(110, 160, 232, 0.72); }
        37% { color: rgba(100, 155, 230, 0.72); }
        38% { color: rgba(90, 150, 228, 0.72); }
        39% { color: rgba(80, 145, 226, 0.72); }
        40% { color: rgba(70, 140, 224, 0.72); }
        41% { color: rgba(65, 135, 220, 0.72); }
        42% { color: rgba(60, 130, 216, 0.72); }
        43% { color: rgba(55, 125, 212, 0.72); }
        44% { color: rgba(50, 120, 208, 0.72); }
        45% { color: rgba(45, 115, 204, 0.72); }
        46% { color: rgba(40, 110, 200, 0.72); }
        47% { color: rgba(38, 108, 196, 0.72); }
        48% { color: rgba(36, 106, 192, 0.72); }
        49% { color: rgba(34, 104, 188, 0.72); }
        50% { color: rgba(32, 102, 184, 0.72); }
        51% { color: rgba(30, 100, 180, 0.72); }
        52% { color: rgba(28, 98, 176, 0.72); }
        53% { color: rgba(26, 96, 172, 0.72); }
        54% { color: rgba(24, 94, 168, 0.72); }
        55% { color: rgba(22, 92, 164, 0.72); }
        56% { color: rgba(20, 90, 160, 0.72); }
        57% { color: rgba(18, 88, 156, 0.72); }
        58% { color: rgba(16, 86, 152, 0.72); }
        59% { color: rgba(14, 84, 148, 0.72); }
        60% { color: rgba(12, 82, 144, 0.72); }
        61% { color: rgba(10, 80, 140, 0.72); }
        62% { color: rgba(9, 78, 136, 0.72); }
        63% { color: rgba(8, 76, 132, 0.72); }
        64% { color: rgba(8, 74, 128, 0.72); }
        65% { color: rgba(8, 72, 124, 0.72); }
        66% { color: rgba(8, 70, 124, 0.72); }
        67% { color: rgba(8, 68, 124, 0.72); }
        100% { color: rgba(8, 41, 124, 0.72); }
      }
      
      
      .text-element {
        animation: textFade 5s linear forwards;
      }

    .hImg{
        text-align: center;
        padding-left: 6px;
        padding-right: 6px;
    }

    .hImg img{
        width: 100%;
    }

    .CM{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cM{
        text-decoration-line: none;
        color: var(--txt-color-primary);
        background-color:transparent;
        border: 0.5px solid var(--txt-color-primary);
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-content: center;
        width: fit-content;
    }

    .cM:hover{
        cursor: pointer;
        transition: 500ms;
        color: white;
        background-color: var(--txt-color-primary);
    }

    .heroM{
        background-image:linear-gradient(white,rgba(8,41,124,0.7));
        margin-left: 0px!important;
        margin-right: 0px!important;
    }


    @keyframes heroAnima {
        0% { background-color: rgba(8, 41, 124, 1); }
        1% { background-color: rgba(8, 41, 124, 0.99); }
        2% { background-color: rgba(8, 41, 124, 0.98); }
        3% { background-color: rgba(8, 41, 124, 0.97); }
        4% { background-color: rgba(8, 41, 124, 0.96); }
        5% { background-color: rgba(8, 41, 124, 0.95); }
        6% { background-color: rgba(8, 41, 124, 0.94); }
        7% { background-color: rgba(8, 41, 124, 0.93); }
        8% { background-color: rgba(8, 41, 124, 0.92); }
        9% { background-color: rgba(8, 41, 124, 0.91); }
        10% { background-color: rgba(8, 41, 124, 0.90); }
        11% { background-color: rgba(8, 41, 124, 0.89); }
        12% { background-color: rgba(8, 41, 124, 0.88); }
        13% { background-color: rgba(8, 41, 124, 0.87); }
        14% { background-color: rgba(8, 41, 124, 0.86); }
        15% { background-color: rgba(8, 41, 124, 0.85); }
        16% { background-color: rgba(8, 41, 124, 0.84); }
        17% { background-color: rgba(8, 41, 124, 0.83); }
        18% { background-color: rgba(8, 41, 124, 0.82); }
        19% { background-color: rgba(8, 41, 124, 0.81); }
        20% { background-color: rgba(8, 41, 124, 0.80); }
        21% { background-color: rgba(8, 41, 124, 0.79); }
        22% { background-color: rgba(8, 41, 124, 0.78); }
        23% { background-color: rgba(8, 41, 124, 0.77); }
        24% { background-color: rgba(8, 41, 124, 0.76); }
        25% { background-color: rgba(8, 41, 124, 0.75); }
        26% { background-color: rgba(8, 41, 124, 0.74); }
        27% { background-color: rgba(8, 41, 124, 0.73); }
        28% { background-color: rgba(8, 41, 124, 0.72); }
        29% { background-color: rgba(8, 41, 124, 0.71); }
        30% { background-color: rgba(8, 41, 124, 0.70); }
        31% { background-color: rgba(8, 41, 124, 0.69); }
        32% { background-color: rgba(8, 41, 124, 0.68); }
        33% { background-color: rgba(8, 41, 124, 0.67); }
        34% { background-color: rgba(8, 41, 124, 0.66); }
        35% { background-color: rgba(8, 41, 124, 0.65); }
        36% { background-color: rgba(8, 41, 124, 0.64); }
        37% { background-color: rgba(8, 41, 124, 0.63); }
        38% { background-color: rgba(8, 41, 124, 0.62); }
        39% { background-color: rgba(8, 41, 124, 0.61); }
        40% { background-color: rgba(8, 41, 124, 0.60); }
        41% { background-color: rgba(8, 41, 124, 0.59); }
        42% { background-color: rgba(8, 41, 124, 0.58); }
        43% { background-color: rgba(8, 41, 124, 0.57); }
        44% { background-color: rgba(8, 41, 124, 0.56); }
        45% { background-color: rgba(8, 41, 124, 0.55); }
        46% { background-color: rgba(8, 41, 124, 0.54); }
        47% { background-color: rgba(8, 41, 124, 0.53); }
        48% { background-color: rgba(8, 41, 124, 0.52); }
        49% { background-color: rgba(8, 41, 124, 0.51); }
        50% { background-color: rgba(8, 41, 124, 0.50); }
        51% { background-color: rgba(8, 41, 124, 0.49); }
        52% { background-color: rgba(8, 41, 124, 0.48); }
        53% { background-color: rgba(8, 41, 124, 0.47); }
        54% { background-color: rgba(8, 41, 124, 0.46); }
        55% { background-color: rgba(8, 41, 124, 0.45); }
        56% { background-color: rgba(8, 41, 124, 0.44); }
        57% { background-color: rgba(8, 41, 124, 0.43); }
        58% { background-color: rgba(8, 41, 124, 0.42); }
        59% { background-color: rgba(8, 41, 124, 0.41); }
        60% { background-color: rgba(8, 41, 124, 0.40); }
        61% { background-color: rgba(8, 41, 124, 0.39); }
        62% { background-color: rgba(8, 41, 124, 0.38); }
        63% { background-color: rgba(8, 41, 124, 0.37); }
        64% { background-color: rgba(8, 41, 124, 0.36); }
        65% { background-color: rgba(8, 41, 124, 0.35); }
        66% { background-color: rgba(8, 41, 124, 0.34); }
        67% { background-color: rgba(8, 41, 124, 0.33); }
        68% { background-color: rgba(8, 41, 124, 0.32); }
        69% { background-color: rgba(8, 41, 124, 0.31); }
        70% { background-color: rgba(8, 41, 124, 0.30); }
        100% { background-color: rgba(8, 41, 124, 0); }
      }
      
      .element {
        animation: fadeOut 5s linear forwards;
      }
      
      


    .exs3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .exs3 h3{
        font-size: 12px;
    }

    .exs3 p{
        font-size: 10px;
    }

    .Ex1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        background-color: white;
        border: 1px solid transparent;
        padding: 10px 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 10px;
        padding-left: 18px;
    }

    .Ex1a{
        width: 50%;
    }

    .Ex1b{
        width: 50%;
        margin-left: 10px;
    }

    .Ex1b img{
        width: 120px;
        height: 100px;
    }

    .Ex2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 1px solid transparent;
        padding: 10px 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: inherit;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-left: 18px;
    }

    .Ex2a{
        width: 50%;
        margin-left: 20px;
    }

    .Ex2b{
        width: 50%;
    }

    .Ex2b img{
        width: 120px;
        height: 100px;
    }

    .Ex3{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 1px solid transparent;
        padding: 10px 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: inherit;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-left: 18px;
    }

    .Ex3a{
        width: 50%;
    }

    .Ex3b{
        width: 50%;
        margin-left: 10px;
    }

    .Ex3b img{
        width: 120px;
        height: 100px;
    }

    .wavyline{
        text-align: center;
        width:fit-content;
        overflow-y: hidden!important;
        overflow-x: hidden!important;
    }

    .wavyline img{
        width: 99%;
    }

    .wwdimg{
        text-align: center;
        margin-top: 10x;
    }

    .Ess{
        background-color: white;
        margin: 17px 9px 0px 9px;
        padding: 5px;
        padding-bottom: 5px;
        padding-top: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        diaplay: flex;
        justify-content: center;
        align-items: center;
    }

     .clt{
       
        margin: 10px 7px;
        padding-bottom: 0px;
     }

    .cltImgAndText{
        text-align: center;
    }

    .cae{
        text-align: center;
        background-color: white;
        border: 0.5px solid var(--txt-color-primary);
        margin: 10px 7px;
        padding-bottom: 30px;
        padding-top: 5px;
    }

    .eru{
        text-align: center;
        background-color: white;
        border: 0.5px solid var(--txt-color-primary);
        margin: 10px 7px;
        padding-bottom: 20px;
        padding-top: 5px;
        border-bottom-color: white;
    }

    .worldmap{
        text-align: center;
    }

    .trt{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:0px;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    }

    .tr{
        border-right: 4px solid var(--txt-color-primary);
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
        color: var(--txt-color-primary);
        position: absolute;
        z-index: 100;
        background-color: white;
        width:auto;
    }

    .slider-container {
	position: relative;
}

    .swiper-container {
        position: static;
        width: 88%;
        text-align: center; 
    }

    .swiper-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .trp{
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .traderImgAndName{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .traderImage{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 1px solid transparent;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        padding-bottom: 5px;
    }
    
    .traderImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .trader1{
        margin: 20px 5px;
        padding: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 26%;
    }

    .exchangeName{
        font-size: 10px;
    }

    .exchangeLocation{
        color: rgba(51, 204, 204, 255);
        font-size: 11px;
        font-weight: 700;
        margin-top: -15px;
    }

    .trader1 img{
        width: 99%;
    }
    
    .trader1 p{
        margin-top: 0px;
    }

    .trader1 a{
        margin-top: -5px;
    }

    .msgbtn{
        text-decoration-line: none;
        padding: 8px 20px;
        background-color: #E0E0E0;
        color:var(--txt-color-primary);
        font-size: 16px;
        font-weight: 700;
        border-radius: 4px;
        margin-top: -6px;
        position: relative;
    }

    .msgbtn:hover{
        color: white;
        background-color: var(--txt-color-primary);
        transition: 400ms;
        cursor: pointer;
    }

    .seeall{
        text-align: right;
        padding: 4px 9px 19px 0px;
    }

    .seeAll{
        text-decoration-line: none;
        color: var(--txt-color-primary);
        font-size: 11px;
        font-weight: 500;
        border: 1px solid #E0E0E0;
        border-radius: 2.5px;
        padding: 5px 10px;
    }

    .Aimg{
        text-align: center;
    }

    .Aimg img{
        width: 300px;
        height: 215px;
    }

    .Atitle{
        margin-top: 30px;
        line-height: 0px;
        text-align: center;
        border-bottom: 4px solid var(--txt-color-primary);
    }

    .Atext{
        padding: 0px 5px 5px 5px;
        margin: -5px 35px 5px 35px;
        text-align: center;
    }

    .Atext p{
        font-size: 13px;
        line-height: 15px;
    }

    .Gtitle{
        text-align: center;
        color: var(--txt-color-primary);
        margin-top: 20px;
    }

    .Gimg{
        text-align: center;
        margin-top: 15px;
    }

    .Gimg img{
        width: 200px;
        height: 100px;
    }

    .Gtxt1{
        text-align: center;
        padding: 10px 45px;
        font-size: 14px;
        line-height: 17px;
    }

    .Gimg2{
        text-align: center;
        margin-top: 15px;
    }

    .Gimg2 img{
        width: 150px;
        height: 100px;
    }

    .Gtxt2{
        text-align: center;
        padding: 10px 45px;
        font-size: 14px;
        line-height: 17px;
    }

    .wimg{
        margin-top: 25px;
        text-align: center;
    }

    .wimg img{
        width: 90%;
    }

    .FooterM{
        display: flex;
        background-image: url('/images/Group 1131.png');
        justify-content: space-around;
        background-repeat: no-repeat!important;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .fl{
        text-decoration-line: none;
        color: white;
        padding-top: 5px;
    }

    .f1{
        display: flex;
        flex-direction: column;
    }
















}
