:root{
    --body-pl: 35px;
    --txt-color-primary: rgba(8,41,124,1);
}


/* NAVBAR STYLE  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--txt-color-primary);
    background-color: white;
}

.Sabo-Logo{
    width: 8%;
}

.signOptions{
    display: flex;
    align-items: center;
}

.signIn{
    font-size: 24px;
    font-weight: 700;
    color: var(--txt-color-primary);
    margin-top: 26px;
    transition: 300ms;
}

.signIn:hover{
    cursor: pointer;
    animation: ease-out;
    color: black;
}

.signUp:hover{
    cursor: pointer;
    animation: ease-out;
    color: var(--txt-color-primary);
    background-color: transparent;
}

.signUp{
    margin-left: 10px;
    font-size: 18px;
    color: white;
    width: 109.5px;
    height: 37px;
    background-color: var(--txt-color-primary);
    text-align: center;
    font-weight: 700;
    line-height: 29.26px;
    font-family: 'Montserrat',sans-serif;
    border-radius: 5px;
    border:0.001px solid var(--txt-color-primary);
    padding: 10px 15px 5px 15px;
    transition: 300ms;
}


/* SIGN UP STYLE */

.signUpCont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 30px); /* full height minus navbar height */
    margin-top: 10px;
    margin-bottom: 15px;
}

.signUpForm{
    background-color:white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 50px;
    font-family: 'monteserrat';
    border-radius: 10px;
}

.signInForm{
    background-color:white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 50px;
    font-family: 'monteserrat';
    border-radius: 10px;
}

.signInCont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 30px); /* full height minus navbar height */
    margin-top: 10px;
    margin-bottom: 15px;
}

#signUpCont1{
    display:none;
}

.languages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
}

.L{
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 19.5px;
    border: 1px solid white;
    padding: 7px 10px;
    border-radius: 5px;
}

.L:hover{
    border: 1px solid #000000;
    transition: 400ms;
    cursor: pointer;
}

.emailOrPhone, .phonenumber{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}

.ep{
    width: 382px;
    height: 55px;
    font-size: 16px;
    border-radius: 8px;
    border-color: #08297C;
    box-shadow: 0px 1px rgba(0,0,0.2);
}

.emailOrPhone input, .password input, .cpassword input, .phonenumber input{
    margin-top: -10px;
}

.FirstName, .LastName{
    margin-top: 30px;
}

.agreebox{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.terms{
    color: #08297C;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
}

.signupFinalButton{
    width: 388px;
    height: 51px;
    border-radius: 8px;
    border: 0.1px solid #08297C;
    background-color: #08297C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-decoration-line: none;
    margin-top: 20px;
}

.signupFinalButton:hover{
    color:#08297C;
    background: transparent;
    cursor: pointer;
    transition: 400ms;
}

.signInFinalButton{
    width: 388px;
    height: 51px;
    border-radius: 8px;
    border: 0.1px solid #08297C;
    background-color: #08297C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-decoration-line: none;
    margin-top: 40px;
}

.signInFinalButton:hover{
    color:#08297C;
    background: transparent;
    cursor: pointer;
    transition: 400ms;
}

.instruct{
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
}

.orWith{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 379px;
    height: 20px;
    margin-top: 15px;
}

.demarcation1{
    color: white;
    text-decoration: line-through;
    text-decoration-color: #08297C;
    margin-right: 15px;
    width: 135.51px;
}

.demarcation2{
    color: #000000;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 500;
}

.demarcation3{
    color: white;
    text-decoration: line-through;
    text-decoration-color: #08297C;
    margin-left: 10px;
    width: 135.51px;
}

.googleOrFacebook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 379.86px;
    height: 45.01px;
    margin-top: 20px;
}

.google{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: 1px solid #000000;
    padding: 0px 20px;
    width: 104px;
    height: 45px;
    border-radius: 5px;
}

.google:hover, .facebook:hover{
    cursor: pointer;
}

.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 45px;
    background-color: rgba(8,41,124,0.72);
    border-radius: 5px;
}

.flogo{
    margin-left: 10px;
}

.alreadyHaveAnAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
}

.log{
    text-decoration-line: none;
    color: #08297C;
    margin-left: 5px;
}





@media screen and (max-width:600px){

    body,html{
        margin:0px !important;
        overflow-x: hidden!important;
    }

    .navbar{
        padding: 5px 10px 0px 10px;
        margin: 0px!important;
    }

.signOptions{
    display: flex;
    align-items: center;
    justify-content: center;
}    

.signIn{
    font-size: 13px;
    margin-top: 13px;
}

.signUp{
    margin-left: 10px;
    font-size: 13px;
    color: white;
    width: 55px;
    height: 19px;
    background-color: var(--txt-color-primary);
    text-align: center;
    font-weight: 700;
    line-height: 29.26px;
    font-family: 'Montserrat',sans-serif;
    border-radius: 5px;
    border:0.001px solid var(--txt-color-primary);
    padding: 5px 7.5px 5px 7.5px;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
}


    .signUpCont{
        padding: 15px 15px;
    }

    .signInCont{
        padding: 10px 15px;
    }

    .L{
        margin-right: 7px;
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        line-height: 19.5px;
        border: 1px solid white;
        padding: 5px;
        border-radius: 5px;
    }

    .ep{
        width: 280px;
        height: 35px;
        font-size: 12px;
        border-radius: 8px;
        border-color: #08297C;
        box-shadow: 0px 1px rgba(0,0,0.2);
    }

    .epm{
        width: 280px;
        height: 27px;
        font-size: 11px;
        border-radius: 8px;
        border-color: #08297C;
        box-shadow: 0px 1px rgba(0,0,0.2);
    }

    .FirstName, .LastName{
        margin-top: 13px;
    }

    .emailOrPhone input, .password input, .cpassword input, .phonenumber input{
        margin-top: -5px;
    }

    .instruct{
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }

    .terms{
        color: #08297C;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }

    .signupFinalButton{
        width: 285px;
        height: 40px;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
        margin-top: 10px;
    }

    .signInFinalButton{
        width: 285px;
        height: 40px;
        border-radius: 5px;
        border: 0.1px solid #08297C;
        background-color: #08297C;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
        text-decoration-line: none;
        margin-top: 20px;
    }

    .orWith{
        width: 280px;
        margin-top: 12px;
    }
    
.demarcation1{
    display: none;
}

.demarcation2{
    font-size: 11px;
}

.demarcation3{
    display: none;
}

.googleOrFacebook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 20px;
    margin-top: 10px;
}

.google{
    width: 100%;
    border: 1px solid #000000;
    padding: 0px 10px;
    width: 55px;
    height: 35px;
    border-radius: 5px;
}

.google:hover, .facebook:hover{
    cursor: pointer;
}

.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 37px;
    background-color: rgba(8,41,124,0.72);
    border-radius: 5px;
}

.flogo{
    margin-left: 0px;
    display: none;
}

.googleText{
    display: none;
}

.alreadyHaveAnAccount{
    width: 280px;
    margin-top: 6px;
}

.already{
    font-size: 10px;
}

.log{
    font-size: 10px;
}

}